/* color tema
   #ededed
   #7ca145
*/
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Sans-Serif;
  background-color: #ededed;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 32px;
  margin-top: 16px;
}

.cabecalho{
  background-color: darkolivegreen;
  padding: 40px 40px
}

.apresentacao_nome{
  padding: 60px;
}

.cabecalho img{
  max-width: 200px;
  border: 5px solid whitesmoke;
  border-radius: 100%;
}

.space {
  margin-left: 32px;
  margin-top: 16px;
}

.lista_curso {
  padding-left: 32px;
}

article aside{
  font-size: 0.8em;
  padding-top: 4px;
}

article aside::after{
  content: "[link]";
}

aside a{
  color: darkolivegreen;
}

nav{
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 8px;
  gap: 0;
  text-align: center;
  border: 1px solid black;
  justify-content: center;
}

.titulo{
  background-color: darkolivegreen;
  border: none;
}

nav p, nav a{
  padding: 12px;
  border: 1px solid black
}

nav a{
  color: darkolivegreen;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover{
  color: black;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem{
  max-width: 50px;
  border-radius: 100%;
}
